<!-- Top Bar -->
<section id="top-bar" class="p-3 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-warning bg-dark">
          <i class="fas fa-phone"></i> +92 (316)-278-1010
        </div>
        <div class="col-md-4 text-warning bg-dark">
          <i class="fas fa-envelope-open"></i> contact@adscouriers.com
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="#">
              <i class="fab fa-twitter text-warning"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook text-warning"></i>
            </a>
            <a href="#" class="">
              <i class="fab fa-linkedin text-warning"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram text-warning"></i>
            </a>
            <a href="#">
              <i class="fab fa-pinterest text-warning"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section> 